body{
    background: #FFF;
}
.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1.5fr 0.8fr; /* Two columns */
    gap: 30px;
    padding: 3% 5%;
    flex: 1; /* Take up available space */
}

/* Footer styles */
footer {
    padding: 16px;
    background-color: #f1f1f1;
    text-align: center;
}

header.topHeader>h4,header.topHeader,section.dropdowns{
    margin: 25px auto;    
}
section.right-section{
    display: flex;
    padding: 40px;
    justify-content: center;
}