body{
    background: #F7F7F2;
}
.container {
    display: grid;
    grid-template-columns: 1.15fr 1fr; /* Two equal-width columns */
    gap: 16px; /* Adds space between the sections */
    height: 100vh; /* Makes it full viewport height */
    padding: 3%;
}

header.topHeader>h4,header.topHeader,section.dropdowns{
    margin: 25px auto;    
}
section.right-section{
    display: flex;
    padding: 40px;
    justify-content: center;
}